html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body{
  background: #000; /* fallback for old browsers */
    background: #000 /* Chrome 10-25, Safari 5.1-6 */
    background: #000 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1,h2,h3,h4,h5,h6{
  font-family: Poppins;
}
p{
  font-family: Roboto;
  color: #fff;
}

.bg-navbar{
  background:transparent;
  background-color: #000;
  border: 0;
  font-family: Poppins;
}
.navbar-brand{
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.nav-link{
  color: #fff;
}
.col-md-6{
  color: #fff;
}


#showcase h1{
  font-size: 50px;
  margin-bottom: 20px;
}
#showcase img{
  width: 70%;
  margin-left: 60px;
}
#showcase .showcase-right{
  margin-top: 90px;
}
#testimonal{
  background: #181818;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}
