body{
  background:#000;
  font-size:20px;
}
header{
  font-size:26px;
  color:#fff;
}
h1,h2,h3,h4,h5,h6{
  font-family:"Roboto";
  font-weight:bold;
  font-weight:bold;
  color:#fff;
}
span{
  color:#fff;
}
p{
  font-family:"Roboto";
  color:#fff;
}
hr{
  border-top:1px dotted white;
}
footer{
  padding:30px;
}

.bg-navbar{
  background:transparent;
  background-color:#000;
  border:0;
  font-family:"Poppins";
}
.navbar-brand{
  font-size: 20px;
  font-family:"Poppins";
  background:transparent;
  border:0;
  color: #fff;
}
.nav-link{
  color:#fff;
}
.col-md-6{
  color:#fff;
}
.jumbotron{
  min-height:600px;
  background-repeat:no-repeat;
  background-position:center;
  -webkit-background-size:cover;
  background-size:cover;
}

#friends {
  margin:10px 0px 10px 0;
  height:35px;
  width:35px;
  border:1px solid white;
  float:below;
}
#artist {
  margin:15px 0 10px 0;
  height:200px;
  width:200px;
  position:absolute;
  right:70px;
}
#wrapper{
  display:flex;
}
#first{
    width:350px;
    float:right; /* add this */
    /* border: 1px solid red; */
}
#second{
    /* border: 1px solid green; */
    flex:1;
}
#loginbutton{
  margin-top:20px;
  margin-bottom:20px;
  background-color:#000;
  color: white;
  border-radius:12px;
  padding: 5px;
}
#loginimg{
  margin-right: 5px;
  vertical-align: middle;
  height:35px;
}
#wrapper1{
  display: flex;
  align-items: center;
  justify-content: center;
}
