<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Groupify</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-navbar">

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
      </div>
    </nav>

    <header class="jumbotron" style="background-image: url('static/img/jumbotron.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 class="display-4">Groupify</h1>
              <span class="subheading">Never Watch A Concert Alone</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% for concert in concert %}
    <div id="wrapper" class="container">

        <div class="row">
          <div class="col-md-2 col-sm-10">
              <div id="first">
                <img id="{{concert['title']}}" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="concert['images']['large']" alt="">
              </div>
          </div>
          <div id="second">
            <ul style="list-style: none;">
             <li>{{concert['title']}}</li>
             <li>{{concert['url']}}</li>
             <li>When: {{concert['datetime_local']|strftime}}</li>
            </ul>
              <div class="social-icons">
                <a href="#">
                  <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
                </a>
                <a href="#">
                  <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
                </a>
                <a href="#">
                  <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
                </a>
                <a href="#">
                  <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
                </a>
                <a href="#">
                  <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
                </a>
                <a href="#">
                  <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
                </a>
              </div></p>
          </div>
        </div>
      </div>
      <hr>
      {% endfor %}


    <footer>
      <p class="text-center">Groupify Copyright &copy; 2019</p>
    </footer>

  </body>
</html>
