{% extends "layout.html" %}

{% block content %}
  <header class="jumbotron" style="background-image: url('static/img/jumbotron.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <a href="#showcase">
            <div class="site-heading">
              <h1 class="display-4">Groupify</h1>
              <span class="subheading">Never Watch A Concert Alone</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>

  <div id="wrapper" class="container">
      <div class="row">
        <div class="col-md-2 col-sm-10">
          <div id="first">
            <img id="artist" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/elisetruow.jpg" alt="">
          </div>
        </div>
        <div id="second">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <div class="social-icons">
              <a href="#concerts">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
            </div></p>
        </div>
      </div>
    </div>
  <hr>

  <div id="wrapper" class="container">
      <div class="row">
        <div class="col-md-2 col-sm-10">
          <div id="first">
            <img id="artist" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/elisetruow.jpg" alt="">
          </div>
        </div>
        <div id="second">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            <div class="social-icons">
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
              <a href="#">
                <img id="friends" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="static/img/friend.png" alt="">
              </a>
            </div></p>
        </div>
      </div>
    </div>
  <hr>

  <footer>
    <p class="text-center">Groupify Copyright &copy; 2019</p>
  </footer>

{% endblock %}
